#!/usr/bin/make -f

override_dh_auto_clean:
	rm -rf build
	rm -rf *.egg-info

override_dh_auto_build:
	python3 setup.py build

override_dh_auto_install:
	python3 setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:
	make check

%:
	dh $@ --with python3
